---
layout: page
title: Current projects
description: Hands on.
background: '/img/bg-projects.jpg'
---

<!-- Home Post List -->
{% for project in site.projects limit : 5 %}

<article class="post-preview">
  <a href="{{ project.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ project.title }}</h2>
    {% if project.subtitle %}
    <h3 class="post-subtitle">{{ project.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ project.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if project.author %}
    {{ project.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on
    {{ project.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=project.content %}            
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="{{"/projects" | relative_url }}">View All Posts &rarr;</a>
</div>



     


