---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading textAnimated">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>


<script type="text/javascript">

var textAnimated = document.querySelector(".textAnimated")

var text = ""

var textArr = [
  "I'm a senior software developer.",
  "I do things, all the shenanigans",
  "Have questions? I have answers.Lets create something BIG",
  "Contact me for collaboration",
]

var currentTextIndex = -1

var letterIndex = -1

function addLetter(){
  // increment letterIndex to get to the next letter
  letterIndex++
  //
  if(letterIndex < text.length) {
    //ADD A DELAY
    setTimeout( function() {
      // add letter
      textAnimated.textContent += text[letterIndex]
      // call itself 
      addLetter()
    }, 100)
  }else {
    // call removeLetter after a delay 
    setTimeout( function() {
    removeLetter()
    }, 2000)
  }
}

function removeLetter(){
  // decrement letterIndex to get to the next letter
  letterIndex--
  //
  if(letterIndex >= 0) {
    //ADD A DELAY
    setTimeout( function() {
      // remove letter
      textAnimated.textContent = text.slice(0, letterIndex)
      // call itself 
      removeLetter()
    }, 100)
  }else {
    // no more letters to remove
    // doesn't call addLetter anymore
    // call updateText instead
    updateText()
  }
}

function updateText() {
    //increment currentTextIndex to switch to the next sentence
    currentTextIndex++

    //go to the first string index when currentTextIndex has reached the last one
  if(currentTextIndex === textArr.length) {
    currentTextIndex = 0
  }
    //update text 
    text = textArr[currentTextIndex]
    //call addLetter and get the animation going
    addLetter()
}

//the initial call to start everything
updateText()
</script>